$black-light: #0A0B0B;
$gray-dark: #0D0E0D;
$gray-middle: #555;
$gray-light: #A3A3A3;
$white-dark: #D7D7D7;
$maroon: #AF2341;
$maroon-light: #CB3F5D;

@mixin triangle($size, $color, $angle) {
  .triangle {
    width: 0;
    height: 0;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    vertical-align: middle;

    transform-box: fill-box;
    transform-origin: center;
    transform: rotate($angle);
    transition: transform 0.5s ease-in-out !important;
  }

  .triangle-0 {
    transform: rotate(0deg) !important;
    transition: transform 0.5s ease-in-out !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: block;
  position: static;
  font-family: "BauhausC", "Baumans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: $gray-light;
  overflow: hidden;
  min-width: 487px;
}

ul, ol {
  list-style: none;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}