$black-light: #0A0B0B;
$gray-dark: #0D0E0D;
$gray-middle: #555;
$gray-light: #A3A3A3;
$white-dark: #D7D7D7;
$maroon: #AF2341;
$maroon-light: #CB3F5D;

@mixin triangle($size, $color, $angle, $colorTransition) {
  .triangle {
    width: 0;
    height: 0;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    border-bottom-color: $color;
    vertical-align: middle;

    transform-box: fill-box;
    transform-origin: center;
    transform: rotate($angle);
    transition: transform 0.5s ease-in-out, border-bottom-color $colorTransition ease-in-out !important;
  }

  .triangle-0 {
    transform: rotate(0deg) !important;
    transition: transform 0.5s ease-in-out, border-bottom-color $colorTransition ease-in-out !important;
  }

  .triangle-wide {
    border-left: ($size * 2) solid transparent !important;
    border-right: ($size * 2) solid transparent !important;
    transition: transform 0s ease-in-out, border-bottom-color $colorTransition ease-in-out !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: block;
  position: static;
  font-family: "BauhausC", "Baumans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0;
  color: $gray-light;
  //overflow: hidden;
  min-width: 487px;
  margin: 0 auto;
  background-color: $gray-dark;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;

  @media screen and (min-width: 1920px) {
    width: 1920px;
  }

  @media screen and (max-width: 1920px) {
    width: 100vw;
  }
}

ul, ol {
  list-style: none;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}