#logo svg {

  * {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    transform-box: fill-box;
    transition: 1s;
  }

  .logo-middle {

    rect:first-child {
      transform-origin: bottom left;
      transform: translate(13px, 0) rotate(-26deg);
    }

    rect:nth-child(2) {
      transform-origin: bottom right;
      transform: translate(-1.5px, 0) rotate(26deg);
    }
  }

  .logo-top {
    transform-origin: center;
    transform: scale(1) rotate(0deg);
    transition: 1s;
  }

  .logo-bottom {
    transform: translate(0, 0);
  }

  &:hover {
    cursor: pointer;

    .logo-top {
      transform: scale(1.15) rotate(180deg);
      transition: 1s;
    }

    .logo-bottom {
      transform: translate(0, -2px);
    }

    .logo-middle {

      rect:first-child {
        transform: translate(13px, -3px) rotate(-40deg);
      }

      rect:nth-child(2) {
        transform: translate(-1.5px, -3px) rotate(40deg);
      }
    }
  }
}