@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: block;
  position: static;
  font-family: "BauhausC", "Baumans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0;
  color: #A3A3A3;
  min-width: 487px;
  margin: 0 auto;
  background-color: #0D0E0D;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
}

@media screen and (min-width: 1920px) {
  body {
    width: 1920px;
  }
}

@media screen and (max-width: 1920px) {
  body {
    width: 100vw;
  }
}

ul, ol {
  list-style: none;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?m2ajbg");
  src: url("../fonts/icomoon.eot?m2ajbg#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?m2ajbg") format("truetype"), url("../fonts/icomoon.woff?m2ajbg") format("woff"), url("../fonts/icomoon.svg?m2ajbg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "BauhausC";
  src: local("BauhausC Light Bold"), local("BauhausC-Demibold"), url("../fonts/BauhausC-Demibold.woff2") format("woff2"), url("../fonts/BauhausC-Demibold.woff") format("woff"), url("../fonts/BauhausC-Demibold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BauhausC";
  src: local("BauhausC Light"), local("BauhausC-Light"), url("../fonts/BauhausC-Light.woff2") format("woff2"), url("../fonts/BauhausC-Light.woff") format("woff"), url("../fonts/BauhausC-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BauhausC";
  src: local("BauhausC Medium Bold"), local("BauhausC-Bold"), url("../fonts/BauhausC-Bold.woff2") format("woff2"), url("../fonts/BauhausC-Bold.woff") format("woff"), url("../fonts/BauhausC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BauhausC";
  src: local("BauhausC Medium"), local("BauhausC-Medium"), url("../fonts/BauhausC-Medium.woff2") format("woff2"), url("../fonts/BauhausC-Medium.woff") format("woff"), url("../fonts/BauhausC-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-googleplay:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-edit:before {
  content: "";
}

.icon-ticket:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-settings:before {
  content: "";
}

.icon-sort:before {
  content: "";
}

.icon-checkbox-checked:before {
  content: "";
}

.icon-checkbox-unchecked:before {
  content: "";
}

.icon-radio-checked:before {
  content: "";
}

.icon-radio-unchecked:before {
  content: "";
}

.icon-letter-empty:before {
  content: "";
}

.icon-heart-fill:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-star-empty:before {
  content: "";
}

.icon-tick:before {
  content: "";
}

.icon-cross:before {
  content: "";
}

.icon-lock:before {
  content: "";
}

.icon-left:before {
  content: "";
}

.icon-right:before {
  content: "";
}

.icon-ban:before {
  content: "";
}

.icon-calendar:before {
  content: "";
}

.icon-comment-fill:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-heart-empty:before {
  content: "";
}

.icon-sign-out:before {
  content: "";
}

.icon-sign-in:before {
  content: "";
}

.icon-filter:before {
  content: "";
}

.icon-banknote:before {
  content: "";
}

.icon-letter-fill:before {
  content: "";
}

.icon-comment-empty:before {
  content: "";
}

.icon-dollar:before {
  content: "";
}

.icon-youtube:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-credit-card:before {
  content: "";
}

body {
  padding: 0 7vw;
  position: relative;
}

body .hall-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -3;
}

body .hall-background img {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.35;
}

body .buy-ticket {
  height: auto;
  min-height: 1334px;
  margin: 178px 0 118px 0;
  box-shadow: 0 0 100px black;
  position: relative;
  background-color: #0D0E0D;
}

body .buy-ticket > div {
  position: relative;
}

body .buy-ticket .buy-ticket-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 7.45vw 4.29% 2.24vw 3.68%;
  z-index: 1;
}

body .buy-ticket .buy-ticket-content .head {
  margin: 0 4.29% 0 5.94%;
  width: 290px;
}

body .buy-ticket .buy-ticket-content .head img {
  width: 100%;
  box-shadow: 0 0 30px black;
  margin-bottom: 34px;
}

body .buy-ticket .buy-ticket-content .head .tickets-price {
  overflow: hidden;
}

body .buy-ticket .buy-ticket-content .head .tickets-price .total-price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 100%;
  height: 30px;
}

body .buy-ticket .buy-ticket-content .head .tickets-price .total-price > div {
  height: 100%;
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
  color: #D7D7D7;
}

body .buy-ticket .buy-ticket-content .head .tickets-price .total-price .price, body .buy-ticket .buy-ticket-content .head .tickets-price .total-price .dollar {
  color: #AF2341;
}

body .buy-ticket .buy-ticket-content .head .tickets-price .total-price .dollar {
  line-height: 32px;
}

body .buy-ticket .buy-ticket-content .head .tickets-price .scroll {
  max-height: 620px;
  margin-bottom: 24px;
}

body .buy-ticket .buy-ticket-content .head .tickets-price .scroll .simplebar-content {
  position: relative;
}

body .buy-ticket .buy-ticket-content .head .tickets-price .ticket + .ticket {
  margin-top: 10px;
}

body .buy-ticket .buy-ticket-content .head .tickets-price .ticket {
  width: 100%;
  height: 44px;
  position: relative;
}

body .buy-ticket .buy-ticket-content .head .tickets-price .ticket .ticket-container {
  height: 100%;
  border-radius: 8px;
  background-color: rgba(163, 163, 163, 0.1);
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

body .buy-ticket .buy-ticket-content .head .tickets-price .ticket .ticket-container .price {
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  color: #AF2341;
}

body .buy-ticket .buy-ticket-content .head .tickets-price .ticket .ticket-container .icon-cross {
  width: 20px;
  height: 44px;
  margin: 0 7.24%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

body .buy-ticket .buy-ticket-content .head .tickets-price .ticket .ticket-container .icon-cross:hover {
  cursor: pointer;
}

body .buy-ticket .buy-ticket-content .head .tickets-price .ticket .ticket-container .icon-cross:hover::before {
  color: #AF2341;
  transition: color 0.2s ease-in-out;
}

body .buy-ticket .buy-ticket-content .head .tickets-price .ticket .ticket-container .icon-cross::before {
  font-size: 20px;
  line-height: 44px;
  transition: color 0.2s ease-in-out;
}

body .buy-ticket .buy-ticket-content .head .tickets-price .ticket .ticket-container span {
  font-size: 26px;
  line-height: 44px;
  font-weight: 400;
}

body .buy-ticket .buy-ticket-content .head .tickets-price .ticket .ticket-container > div {
  height: 100%;
}

body .buy-ticket .buy-ticket-content .head .tickets-price .ticket .ticket-container > div:first-child {
  font-size: 20px;
  line-height: 44px;
  margin-left: 7.24%;
}

body .buy-ticket .buy-ticket-content .head .tickets-price .ticket .ticket-container > div:first-child .row {
  margin-right: 5px;
}

body .buy-ticket .buy-ticket-content .head .tickets-price .ticket .ticket-container > div:first-child .column {
  margin-left: 7px;
}

body .buy-ticket .buy-ticket-content .head .tickets-price .ticket .ticket-container > div:nth-child(2) {
  flex-grow: 1;
  text-align: right;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: nowrap;
}

body .buy-ticket .buy-ticket-content .ticket-form {
  flex-grow: 1;
  height: 400px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

@media screen and (max-width: 1196px) {
  body .buy-ticket .buy-ticket-content .ticket-form {
    align-items: center;
  }
}

@media screen and (min-width: 1197px) {
  body .buy-ticket .buy-ticket-content .ticket-form {
    align-items: flex-start;
  }
}

@media screen and (max-width: 668px) {
  body .buy-ticket .buy-ticket-content .ticket-form {
    padding-top: 50px;
  }
}

@media screen and (min-width: 669px) {
  body .buy-ticket .buy-ticket-content .ticket-form {
    padding-top: 300px;
  }
}

body .buy-ticket .buy-ticket-content .ticket-form .title {
  color: #D7D7D7;
  margin-bottom: 30px;
}

body .buy-ticket .buy-ticket-content .ticket-form .title .first-name {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-shadow: 0 0 8px black;
}

body .buy-ticket .buy-ticket-content .ticket-form .title .last-name {
  font-size: 30px;
  line-height: 30px;
  text-shadow: 0 0 8px black;
}

body .buy-ticket .buy-ticket-content .ticket-form .navbar {
  display: flex;
  height: 30px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 4px;
}

@media screen and (max-width: 1196px) {
  body .buy-ticket .buy-ticket-content .ticket-form .navbar {
    flex-direction: column;
    width: 185px;
  }
}

@media screen and (min-width: 1197px) {
  body .buy-ticket .buy-ticket-content .ticket-form .navbar {
    width: 100%;
  }
}

body .buy-ticket .buy-ticket-content .ticket-form .navbar .nav-item {
  flex-grow: 1;
  flex-basis: 185px;
  height: 100%;
  margin-bottom: 5px;
  min-width: 185px;
}

body .buy-ticket .buy-ticket-content .ticket-form .navbar .nav-item:not(.selected):hover {
  cursor: pointer;
}

body .buy-ticket .buy-ticket-content .ticket-form .navbar .nav-item:not(.selected):hover div:first-child {
  color: #AF2341;
  transition: color 0.1s ease-in-out;
}

body .buy-ticket .buy-ticket-content .ticket-form .navbar .nav-item.selected div:first-child {
  color: #AF2341;
  transition: color 0.3s ease-in-out;
}

body .buy-ticket .buy-ticket-content .ticket-form .navbar .nav-item.selected .underline {
  background-position: 0 0;
  transition: background-position 0.3s ease-in-out;
}

body .buy-ticket .buy-ticket-content .ticket-form .navbar .nav-item div:first-child {
  width: 100%;
  text-align: center;
  font-size: 26px;
  line-height: 29px;
  font-weight: 300;
  transition: color 0.1s ease-in-out;
}

body .buy-ticket .buy-ticket-content .ticket-form .navbar .nav-item .underline {
  width: 100%;
  height: 1px;
  background-size: 201% 100%;
  background-position: 100% 0;
  background-image: linear-gradient(to right, #AF2341 0, #AF2341 50%, transparent 50%, transparent 100%);
  transition: background-position 0.3s ease-in-out;
}

body .buy-ticket .buttons {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 1;
}

body .buy-ticket .background {
  width: 100%;
  height: 32.38%;
  position: absolute !important;
  left: 0;
  top: 0;
}

body .buy-ticket .background .borders {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 30px 30px #0D0E0D;
}

body .buy-ticket .background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=buy-ticket.css.map */