@import "default";
@import "fonts";

#movie {

  .image {
    width: 100vw;
    height: 31.5vw;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .name {
      position: absolute;
      left: 11.35vw;
      bottom: 3.23vw;
      font-size: 80px;
      font-weight: 700;
      line-height: 80px;
      color: $white-dark;
      z-index: 2;
    }

    .borders {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 100px 25px $gray-dark;
      z-index: 1;
    }
  }

  .content {
    padding: 0 6.41vw;
    color: $gray-light;

    .additionally {
      width: 100%;
      align-items: flex-start;
      margin-top: 112px;

      @media screen and (min-width: 793px) {
        display: flex;
        //margin-top: 112px;
      }

      @media screen and (max-width: 792px) and (min-width: 510px) {
        //margin-top: 126px;
        display: block;
      }

      //@media screen and (max-width: 510px) {
      //  margin-top: 394px;
      //}

      & > div {
        @media screen and (max-width: 792px) {
          display: inline-block;
        }

        @media screen and (min-width: 793px) {
          display: block;
        }

        &:first-child {
          @media screen and (max-width: 792px) {
            width: 100%;
          }

          @media screen and (min-width: 793px) {
            width: 55.7%;
          }
        }

        &:last-child {
          @media screen and (max-width: 792px) {
            width: 100%;
          }

          @media screen and (min-width: 793px) {
            width: 44.3%;
          }
        }

        .title {
          font-size: 24px;
          line-height: 24px;
          color: $maroon;
          font-weight: 400;
          text-align: center;
          width: 100%;
          margin-bottom: 12px;
        }

        .underline {
          width: 100%;
          height: 2px;
          background-color: $maroon;
          margin-bottom: 11px;
        }
      }

      .comments {
        position: relative;
        overflow: hidden;

        .scroll {
          width: 100%;
          padding: 0 14px;
        }

        .comment-form {
          position: absolute;
          width: 100%;
          height: 190px;
          left: 0;
          bottom: -164px;
          background-color: $black-light;
          transition: bottom 0.5s ease-in-out;
          z-index: 1;

          & > div {
            padding: 0 10px;
          }

          .field {
            padding: 8px 10px;
          }

          .add-comment {
            width: 100%;
            height: 26px;
            font-size: 22px;
            line-height: 26px;
            text-align: center;
            background-color: $maroon;
            transition: all 0.2s ease-in-out;

            &:hover {
              cursor: pointer;
              background-color: $maroon-light;
              color: $white-dark;
              transition: all 0.2s ease-in-out;
            }
          }

          .button {
            height: 26px;
            width: 100%;
            padding: 0;

            .comment-btn {
              margin: auto;
              width: 100%;
              min-width: 100px;
              text-align: center;
              font-size: 22px;
              line-height: 26px;
              color: $white-dark;
              background-size: 202% 100%;
              background-position: 100% 0;
              background-image: linear-gradient(to right, $maroon 0, $maroon 50%, rgba($maroon, 0) 50%, rgba($maroon, 0) 100%);
              transition: all 0.2s ease-in-out;

              &:hover {
                cursor: pointer;
                color: $gray-dark;
                background-position: 0 0;
                transition: all 0.2s ease-in-out;
              }
            }
          }

          .scroll {
            height: 121px;
            padding-right: 10px;

            .simplebar-vertical {
              width: 8px;

              .simplebar-scrollbar::before {
                background-color: $maroon;
              }
            }
          }

          textarea {
            background-color: $black-light;
            width: 100%;
            min-height: 121px;
            height: 18px;
            font-size: 18px;
            line-height: 18px;
            font-weight: 300;
            color: $gray-light;
            resize: none;
            border: 0;
            outline: none;
          }
        }
      }

      .gallery {
        .slider {
          width: 100%;
          position: relative;
          overflow: hidden;
          padding: 0 14px;

          .pictures {
            //position: relative;
            //top: 0;
            //left: 0;

            img {
              width: 100%;
              //display: inline-block;
            }
          }

          .left-arrow, .right-arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            height: 100%;
            width: 6.1%;
            top: 0;
            z-index: 1;

            &:hover {
              cursor: pointer;
              background-color: rgba($gray-dark, 0.4);

              &::before {
                color: $maroon;
              }
            }
          }

          .left-arrow {
            left: 14px;

            &::before {
              font-family: "icomoon" !important;
              content: "\f053";
              font-size: 22px;
              color: $white-dark;
            }
          }

          .right-arrow {
            right: 14px;

            &::before {
              font-family: "icomoon" !important;
              content: "\f054";
              font-size: 22px;
              color: $white-dark;
            }
          }
        }
      }

      .actors {
        .scroll {
          width: 100%;
          padding: 0 14px;
          //height: 100%;

          .actors-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
            grid-row-gap: 15px;
            grid-column-gap: 10px;
            justify-content: center;

            .actor {
              display: flex;
              align-items: center;

              & > div {
                display: inline-flex;
                align-items: center;
                justify-content: center;

                &:last-child {
                  margin-left: 10px;
                  font-size: 20px;
                  line-height: 20px;
                }

                img {
                  width: 50px;
                  height: 50px;
                  border-radius: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }

      .description {
        .text {
          width: 100%;
          padding: 0 14px;

          p {
            font-size: 20px;
            line-height: 20px;
            text-indent: 45px;
            text-align: justify;
          }

          p + p {
            margin-top: 15px;
          }
        }
      }
    }
  }

  .simplebar-scrollbar {
    &:hover {
      cursor: pointer;
    }

    &::before {
      background-color: $maroon;
      width: 6px;
    }
  }

  .simplebar-content-wrapper {
    //padding-left: 10px;
    overflow: auto;
  }

  .simplebar-vertical {
    position: absolute;
    right: 4px;
    width: 8px;
  }
}

#poster {
  margin-right: 35px;

  img {
    @media screen and (max-width: 510px) {
      margin-bottom: 10px;
    }
  }
}

#comments {
  .comment + .comment {
    margin-top: 20px;
  }

  .comment {
    width: 100%;

    & > div {
      width: 100%;
    }

    &:last-child {
      margin-bottom: 26px;
    }
  }


  .text {
    margin-top: 5px;
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    text-align: justify;
    text-indent: 15px;
  }

  .user-info {
    display: flex;
    align-items: flex-start;

    & > div {
      display: inline-block;
      width: 100%;
      padding-right: 13px;
    }

    .avatar {
      width: 62px;
      height: 62px;
      margin-right: 14px;
      flex-shrink: 0;
      padding-right: 0;

      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }

    .other {
      display: flex;
      justify-content: space-between;

      & > div {
        display: inline-block;
      }

      .complain-btn {
        font-size: 18px;
        line-height: 18px;
        transition: color 0.1s ease-in-out;

        &:hover {
          cursor: pointer;
          color: $maroon;
          transition: color 0.1s ease-in-out;
        }
      }

      .user-rating {
        margin-top: 2px;

        & > div {
          display: inline-flex;
          font-size: 18px;
          line-height: 18px;
          color: $maroon;
        }

        .star + .star {
          margin-left: 4px;
        }

        .star {
          justify-content: flex-start;
          width: 13px;
          height: 14px;
          font-size: 14px;
          line-height: 14px;

          &::before {
            font-family: "icomoon" !important;
            content: "\f005";
            color: $maroon;
          }
        }
      }
    }

    .user {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 12px;

      & > div {
        display: inline-block;

        &:first-child {
          display: flex;
          align-items: center;

          & > div {
            display: inline-block;
          }

          .flag {
            width: 24px;
            height: 16px;
            margin-right: 7px;
          }

          .username {
            font-size: 22px;
            line-height: 22px;
            color: $white-dark;
          }
        }
      }

      .date {
        font-size: 16px;
        line-height: 16px;
        font-weight: 300;
        color: $white-dark;
      }
    }
  }
}

#add-schedule {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 30px;
  background-size: 202% 100%;
  background-position: 100% 0;
  background-image: linear-gradient(to right, $maroon 0, $maroon 50%, rgba($maroon, 0) 50%, rgba($maroon, 0) 100%);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: $gray-light;
  transition: all 0.3s ease-in-out;

  @media screen and (min-width: 500px) {
    display: block;
  }

  @media screen and (max-width: 500px) {
    display: none;
  }

  &:hover {
    cursor: pointer;
    background-position: 0 0;
    color: $gray-dark;
    transition: all 0.3s ease-in-out;
  }
}

#bottom-border {
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100%;
  background-image: linear-gradient(to top, $gray-dark, rgba($gray-dark, 0) 100%);
}

#info {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .left-side {
    position: relative;

    .first {
      & > div {
        display: inline-flex;

        &:first-child {
          font-size: 40px;
          line-height: 40px;
          color: $white-dark;
          margin-right: 12px;
        }
      }

      .like {
        position: relative;
        //display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        width: 40px;
        height: 40px;
        font-size: 22px;
        line-height: 22px;
        //color: $gray-light;
        background-size: 202% 100%;
        background-position: 100% 0;
        background-image: linear-gradient(to right, $maroon 0, $maroon 50%, rgba($maroon, 0) 50%, rgba($maroon, 0) 100%);
        transition: background-position 0.1s linear, color 0.2s linear;

        &.selected {
          color: $maroon;
          transition: background-position 0.1s linear, color 0.2s linear;

          &:hover {
            cursor: pointer;
            background-position: 0 0;
            color: $maroon-light;
            transition: background-position 0.1s linear, color 0.2s linear;
          }
        }

        &:not(.selected):hover {
          cursor: pointer;
          background-position: 0 0;
          color: $gray-dark;
          transition: background-position 0.1s linear, color 0.2s linear;
        }

        &::before {
          font-family: "icomoon" !important;
          content: "\f004";
        }
      }
    }

    .second {
      font-size: 30px;
      line-height: 30px;
      font-weight: 300;
      color: $white-dark;
    }

    .genres {
      margin-top: 9px;
      display: flex;

      & > div {
        display: inline-block;
      }

      .genre {
        font-size: 18px;
        line-height: 18px;
        font-weight: 300;
      }

      .line {
        width: 1px;
        height: 16px;
        margin: 0 6px;
        vertical-align: middle;
        background-color: $gray-light;
      }
    }
  }

  .right-side {
    margin-right: 36px;
    position: relative;

    & > div {
      position: relative;
      right: 0;
      text-align: right;
    }

    & > div + div {
      margin-top: 4px;
    }

    .imdb-rating, .pg-rating {
      font-size: 20px;
      line-height: 20px;
      font-weight: 300;
    }

    .user-rating {
      & > div {
        display: inline-flex;
      }

      .rate-number {
        font-size: 14px;
        line-height: 14px;
        font-weight: 300;
        margin-left: 6px;
      }

      .star + .star {
        margin-left: 4px;
      }

      .star {
        justify-content: flex-start;
        width: 13px;
        height: 14px;

        &:hover {
          cursor: pointer;
        }

        &.full {
          &::before {
            //overflow: hidden;
            //font-size: 14px;
            font-family: "icomoon" !important;
            content: "\f005";
            color: $maroon;
          }
        }

        &::before {
          overflow: hidden;
          font-size: 14px;
          font-family: "icomoon" !important;
          content: "\f006";
          color: $gray-light;
        }
      }
    }

    .change-button {
      position: relative;
      text-align: center;
      right: 0;
      width: 140px;
      height: 30px;
      font-size: 20px;
      line-height: 30px;
      background-size: 202% 100%;
      background-position: 100% 0;
      background-image: linear-gradient(to right, $maroon 0, $maroon 50%, rgba($maroon, 0) 50%, rgba($maroon, 0) 100%);
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $gray-dark;
        cursor: pointer;
        background-position: 0 0;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

#schedule {
  margin-top: 27px;
  position: relative;

  //@media screen and (max-width: 792px) and (min-width: 510px) {
  //  height: 442px;
  //}
  //
  //@media screen and (max-width: 510px) {
  //  height: 710px;
  //}

  .movie {
    padding-left: 0;
    position: relative;

    .top {
      position: relative;
      display: flex;
      flex-wrap: wrap;

      //& > div {
      //  display: inline-block;
      //}
    }

    .details {
      min-height: 132px;
      margin-bottom: 3px;

      .title {
        font-size: 24px;
        line-height: 24px;
        color: $maroon;
        font-weight: 400;
      }

      .content {
        margin-top: 7px;
        padding: 0;

        .title {
          color: $gray-light;
        }

        & > div {
          width: 15vw;
          min-width: 210px;
          max-width: 270px;
          margin-bottom: 11px;
          border-bottom: 1px solid $white-dark;
          display: flex;
          justify-content: space-between;

          & > div {
            display: inline-flex;
            font-size: 18px;
            line-height: 26px;

            &:last-child {
              font-weight: 300;
            }
          }

          //@media screen and (min-width: 792px) {
          //  display: inline-block;
          //}
          //
          //@media screen and (max-width: 792px) {
          //  display: block;
          //}

          //& > div + div {
          //  margin-top: 11px;
          //}
        }
      }
    }
  }
}