@import "default";
@import "fonts";

body {
  background-color: $gray-dark;
}

.line {
  margin: auto;
}

.pages {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: $gray-light;
  margin: auto;
  display: flex;

  #arrow-left, #arrow-right {
    margin: 0 15px;
    font-size: 14px;

    &:hover {
      color: $maroon;
      cursor: pointer;
    }
  }

  #arrow-left::before {
    font-family: "icomoon" !important;
    content: "\f053";
  }

  #arrow-right::before {
    font-family: "icomoon" !important;
    content: "\f054";
  }

  & > div {
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
  }

  .selected {
    font-size: 22px;
    color: $maroon;
  }

  .page, .first, .last {
    &:hover {
      cursor: pointer;
    }
  }
}

.underline {
  width: 32px;
  height: 1px;
  background-color: $maroon;
  position: relative;
  left: 0;
}