@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: block;
  position: static;
  font-family: "BauhausC", "Baumans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0;
  color: #A3A3A3;
  min-width: 487px;
  margin: 0 auto;
  background-color: #0D0E0D;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
}

@media screen and (min-width: 1920px) {
  body {
    width: 1920px;
  }
}

@media screen and (max-width: 1920px) {
  body {
    width: 100vw;
  }
}

ul, ol {
  list-style: none;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?m2ajbg");
  src: url("../fonts/icomoon.eot?m2ajbg#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?m2ajbg") format("truetype"), url("../fonts/icomoon.woff?m2ajbg") format("woff"), url("../fonts/icomoon.svg?m2ajbg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "BauhausC";
  src: local("BauhausC Light Bold"), local("BauhausC-Demibold"), url("../fonts/BauhausC-Demibold.woff2") format("woff2"), url("../fonts/BauhausC-Demibold.woff") format("woff"), url("../fonts/BauhausC-Demibold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BauhausC";
  src: local("BauhausC Light"), local("BauhausC-Light"), url("../fonts/BauhausC-Light.woff2") format("woff2"), url("../fonts/BauhausC-Light.woff") format("woff"), url("../fonts/BauhausC-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BauhausC";
  src: local("BauhausC Medium Bold"), local("BauhausC-Bold"), url("../fonts/BauhausC-Bold.woff2") format("woff2"), url("../fonts/BauhausC-Bold.woff") format("woff"), url("../fonts/BauhausC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BauhausC";
  src: local("BauhausC Medium"), local("BauhausC-Medium"), url("../fonts/BauhausC-Medium.woff2") format("woff2"), url("../fonts/BauhausC-Medium.woff") format("woff"), url("../fonts/BauhausC-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-googleplay:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-edit:before {
  content: "";
}

.icon-ticket:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-settings:before {
  content: "";
}

.icon-sort:before {
  content: "";
}

.icon-checkbox-checked:before {
  content: "";
}

.icon-checkbox-unchecked:before {
  content: "";
}

.icon-radio-checked:before {
  content: "";
}

.icon-radio-unchecked:before {
  content: "";
}

.icon-letter-empty:before {
  content: "";
}

.icon-heart-fill:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-star-empty:before {
  content: "";
}

.icon-tick:before {
  content: "";
}

.icon-cross:before {
  content: "";
}

.icon-lock:before {
  content: "";
}

.icon-left:before {
  content: "";
}

.icon-right:before {
  content: "";
}

.icon-ban:before {
  content: "";
}

.icon-calendar:before {
  content: "";
}

.icon-comment-fill:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-heart-empty:before {
  content: "";
}

.icon-sign-out:before {
  content: "";
}

.icon-sign-in:before {
  content: "";
}

.icon-filter:before {
  content: "";
}

.icon-banknote:before {
  content: "";
}

.icon-letter-fill:before {
  content: "";
}

.icon-comment-empty:before {
  content: "";
}

.icon-dollar:before {
  content: "";
}

.icon-youtube:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-credit-card:before {
  content: "";
}

#schedule-creation {
  width: 100%;
  position: absolute;
  padding: 0 10px;
  left: 0;
  top: 100%;
  z-index: 2;
  background-color: #0A0B0B;
  overflow-y: hidden;
  height: 0;
}

#schedule-creation > div {
  width: 100%;
}

#schedule-creation .simplebar-scrollbar:hover {
  cursor: pointer;
}

#schedule-creation .simplebar-scrollbar::before {
  background-color: #AF2341;
  width: 6px;
}

#schedule-creation .simplebar-content-wrapper {
  overflow: auto;
}

#schedule-creation .simplebar-vertical {
  position: absolute;
  right: 4px;
  width: 8px;
}

#schedule-creation .title {
  width: 100%;
  height: 28px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #D7D7D7;
  margin-top: 6px;
}

#schedule-creation .underline {
  width: 100%;
  height: 1px;
  background-color: #AF2341;
}

#schedule-creation .form {
  width: 100%;
  position: relative;
  height: 246px;
}

#schedule-creation .form .simplebar-horizontal {
  bottom: -38px;
}

#schedule-creation .form .simplebar-horizontal .simplebar-scrollbar::before {
  width: 100%;
}

#schedule-creation .form .simplebar-vertical .simplebar-scrollbar::before {
  right: 0;
  left: auto;
}

#schedule-creation .form .form-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

#schedule-creation .form .form-content > div {
  padding: 3px 5px;
  height: 246px;
}

#schedule-creation .form .form-content > div .title-2 {
  width: 100%;
  height: 26px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #D7D7D7;
}

#schedule-creation .form .form-content > div .input {
  width: 100%;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 5px;
}

#schedule-creation .form .form-content .hall-select .scroll {
  height: 115px;
}

#schedule-creation .form .form-content .hall-select .list {
  height: 25px;
  line-height: 25px;
  top: 92px;
}

#schedule-creation .form .form-content .movie-name {
  width: 25%;
  max-width: 401px;
  min-width: 210px;
}

#schedule-creation .form .form-content .movie-name input::placeholder {
  color: #A3A3A3;
  transition: color 0.1s linear;
}

#schedule-creation .form .form-content .movie-name input:hover::placeholder {
  color: #D7D7D7;
  transition: color 0.1s linear;
}

#schedule-creation .form .form-content .price-select {
  width: 10%;
  max-width: 160px;
  min-width: 160px;
}

#schedule-creation .form .form-content .price-select .input {
  width: 100%;
}

#schedule-creation .form .form-content .price-select .input > div {
  display: inline-block;
}

#schedule-creation .form .form-content .price-select .input .sign {
  width: 20px;
  height: 20px;
  font-size: 13px;
  line-height: 23px;
  font-weight: 500;
  text-align: center;
  color: #D7D7D7;
  transition: all 0.1s linear;
}

#schedule-creation .form .form-content .price-select .input .sign:hover {
  cursor: pointer;
  color: #0D0E0D;
  background-color: rgba(175, 35, 65, 0.7);
  transition: all 0.1s linear;
}

#schedule-creation .form .form-content .price-select .input input {
  width: 76px;
  height: 20px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  text-align: center;
  color: #A3A3A3;
  background-color: transparent;
  border: 0;
}

#schedule-creation .form .form-content .price-select .input input::placeholder {
  color: #A3A3A3;
  transition: color 0.1s linear;
}

#schedule-creation .form .form-content .price-select .input input:hover::placeholder {
  color: #D7D7D7;
  transition: color 0.1s linear;
}

#schedule-creation .form .form-content .price-select .input input:focus {
  outline: none;
}

#schedule-creation .form .form-content .price-select .input input::-webkit-outer-spin-button, #schedule-creation .form .form-content .price-select .input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#schedule-creation .form .form-content .price-select .input input[type=number] {
  -moz-appearance: textfield;
}

#schedule-creation .form .form-content .price-select .input .currency {
  width: 15px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

#schedule-creation .form .form-content .price-select .input .currency::before {
  font-family: "icomoon" !important;
  content: "";
  color: #AF2341;
  font-weight: 500;
}

#schedule-creation .form .form-content .seance-time {
  width: 7%;
  max-width: 100px;
  min-width: 97px;
}

#schedule-creation .form .form-content .seance-time input {
  width: 100%;
  padding: 0 3px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: #A3A3A3;
  background-color: transparent;
  border: 0;
  text-align: center;
}

#schedule-creation .form .form-content .seance-time input::placeholder {
  color: #A3A3A3;
  transition: color 0.1s linear;
}

#schedule-creation .form .form-content .seance-time input:hover {
  cursor: pointer;
}

#schedule-creation .form .form-content .seance-time input:hover::placeholder {
  color: #D7D7D7;
  transition: color 0.1s linear;
}

#schedule-creation .form .form-content .seance-time input:focus {
  outline: none;
}

#schedule-creation .form .form-content .hall-select, #schedule-creation .form .form-content .date-from, #schedule-creation .form .form-content .date-to {
  width: 12%;
  max-width: 190px;
  min-width: 125px;
}

#schedule-creation .form .form-content .hall-select .title, #schedule-creation .form .form-content .date-from .title, #schedule-creation .form .form-content .date-to .title {
  margin-top: 0;
}

#schedule-creation .form .form-content .days-select {
  width: 9%;
  max-width: 140px;
  min-width: 120px;
}

#schedule-creation .form .form-content .days-select .input {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

#schedule-creation .form .form-content .days-select .day {
  width: 100%;
  text-align: left;
  font-size: 16px;
  line-height: 18px;
  color: #A3A3A3;
  transition: color 0.1s linear;
}

#schedule-creation .form .form-content .days-select .checkbox {
  display: flex;
}

#schedule-creation .form .form-content .days-select .checkbox::before {
  font-family: "icomoon" !important;
  font-size: 16px;
  margin-right: 5px;
  color: #D7D7D7;
}

#schedule-creation .form .form-content .days-select .checkbox:hover {
  cursor: pointer;
  color: #D7D7D7;
  transition: color 0.1s linear;
}

#schedule-creation .form .form-content .days-select .checkbox::before {
  content: "";
}

#schedule-creation .form .form-content .days-select .checked {
  color: #D7D7D7;
}

#schedule-creation .form .form-content .days-select .checked .checkbox::before {
  content: "" !important;
  color: #AF2341 !important;
}

#schedule-creation .form .form-content .cinema-select {
  width: 13%;
  max-width: 214px;
  min-width: 140px;
}

#schedule-creation .form .form-content .cinema-select .scroll {
  height: 90px;
}

#schedule-creation .form .form-content .cinema-select .list {
  height: 50px;
  top: 79px;
}

#schedule-creation .form .form-content .cinema-select .list .selected {
  height: 50px;
  white-space: normal;
  text-align: center;
}

#schedule-creation .form .form-content .hall-select .selected > div:first-child, #schedule-creation .form .form-content .cinema-select .selected > div:first-child {
  font-size: 16px;
}

#schedule-creation .form .form-content .hall-select .cinema-list, #schedule-creation .form .form-content .cinema-select .cinema-list {
  padding-right: 10px;
}

#schedule-creation .form .form-content .hall-select .simplebar-content-wrapper, #schedule-creation .form .form-content .cinema-select .simplebar-content-wrapper {
  padding-right: 10px;
}

#schedule-creation .form .form-content .hall-select .scroll .underline, #schedule-creation .form .form-content .cinema-select .scroll .underline {
  width: 80%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(175, 35, 65, 0) 0, #AF2341 20%, #AF2341 80%, rgba(175, 35, 65, 0) 100%);
  background-color: transparent;
  margin: 0 auto 4px auto;
}

#schedule-creation .form .form-content .hall-select .list, #schedule-creation .form .form-content .cinema-select .list {
  width: 100%;
  position: absolute;
  overflow: hidden;
  font-size: 20px;
  font-weight: 500;
  background-size: 201% 100%;
  background-position: 200% 0;
  background-image: linear-gradient(to right, rgba(13, 14, 13, 0), rgba(13, 14, 13, 0) 50%, rgba(13, 14, 13, 0.95) 50%, rgba(13, 14, 13, 0.95) 100%);
}

#schedule-creation .form .form-content .hall-select .list li, #schedule-creation .form .form-content .cinema-select .list li {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

#schedule-creation .form .form-content .hall-select .list li:not(.selected), #schedule-creation .form .form-content .cinema-select .list li:not(.selected) {
  font-weight: 300;
}

#schedule-creation .form .form-content .hall-select .list .selected, #schedule-creation .form .form-content .cinema-select .list .selected {
  margin-bottom: 10px;
  color: #A3A3A3;
  transition: color 0.1s linear;
}

#schedule-creation .form .form-content .hall-select .list .selected > div, #schedule-creation .form .form-content .cinema-select .list .selected > div {
  display: inline-block;
}

#schedule-creation .form .form-content .hall-select .list .selected .triangle, #schedule-creation .form .form-content .cinema-select .list .selected .triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #D7D7D7;
  border-bottom-color: #D7D7D7;
  vertical-align: middle;
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out, border-bottom-color 0s ease-in-out !important;
}

#schedule-creation .form .form-content .hall-select .list .selected .triangle-0, #schedule-creation .form .form-content .cinema-select .list .selected .triangle-0 {
  transform: rotate(0deg) !important;
  transition: transform 0.5s ease-in-out, border-bottom-color 0s ease-in-out !important;
}

#schedule-creation .form .form-content .hall-select .list .selected .triangle-wide, #schedule-creation .form .form-content .cinema-select .list .selected .triangle-wide {
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  transition: transform 0s ease-in-out, border-bottom-color 0s ease-in-out !important;
}

#schedule-creation .form .form-content .hall-select .list .selected .triangle, #schedule-creation .form .form-content .cinema-select .list .selected .triangle {
  vertical-align: middle;
  margin-left: 3px;
}

#schedule-creation .form .form-content .hall-select .list .selected:hover, #schedule-creation .form .form-content .cinema-select .list .selected:hover {
  cursor: pointer;
  color: #D7D7D7;
  transition: color 0.1s linear;
}

#schedule-creation .form .form-content .hall-select .list .selected:hover .triangle, #schedule-creation .form .form-content .cinema-select .list .selected:hover .triangle {
  border-bottom: 5px solid #AF2341;
  transition: all 0.1s linear;
}

#schedule-creation .form .form-content .hall-select .triangle, #schedule-creation .form .form-content .cinema-select .triangle {
  margin-left: 5px;
}

#schedule-creation .form .form-content .hall-select .hall, #schedule-creation .form .form-content .hall-select .cinema, #schedule-creation .form .form-content .cinema-select .hall, #schedule-creation .form .form-content .cinema-select .cinema {
  text-align: center;
  white-space: normal;
  font-size: 16px;
}

#schedule-creation .form .form-content .hall-select .hall:hover, #schedule-creation .form .form-content .hall-select .cinema:hover, #schedule-creation .form .form-content .cinema-select .hall:hover, #schedule-creation .form .form-content .cinema-select .cinema:hover {
  cursor: pointer;
  color: #AF2341;
}

#schedule-creation .button {
  width: 100%;
  height: 26px;
  margin-bottom: 14px;
}

#schedule-creation .button .create-btn {
  width: 150px;
  height: 100%;
  margin: auto;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #D7D7D7;
  background-size: 202% 100%;
  background-position: 100% 0;
  background-image: linear-gradient(to right, #AF2341 0, #AF2341 50%, rgba(175, 35, 65, 0) 50%, rgba(175, 35, 65, 0) 100%);
  transition: all 0.3s ease-in-out;
}

#schedule-creation .button .create-btn:hover {
  cursor: pointer;
  background-position: 0 0;
  color: #0D0E0D;
  transition: all 0.3s ease-in-out;
}

#search-movie {
  display: block;
  width: 90%;
  margin: auto;
  position: relative;
  padding-right: 32px;
}

@media screen and (min-width: 1440px) {
  #search-movie {
    height: 32px;
  }
}

@media screen and (max-width: 1440px) {
  #search-movie {
    height: 30px;
  }
}

#search-movie input {
  padding-left: 5px;
}

#search-movie .underline {
  width: 100%;
  height: 1px;
  background-color: #D7D7D7;
  position: absolute;
  right: 0;
}

#search-movie > div {
  display: inline-block;
}

#search-movie > div:first-child {
  width: 100%;
  position: relative;
  margin-top: 3px;
}

#movie-search-result {
  display: block;
  width: 100%;
  height: max-content;
  position: absolute;
  top: 100%;
  left: 0;
}

#date-from, #date-to {
  width: 100%;
  position: absolute;
  overflow: hidden;
  height: 25px;
  top: 92px;
  z-index: 5;
}

#date-from .content, #date-to .content {
  height: 186px;
}

#date-from .title, #date-to .title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #A3A3A3;
  transition: color 0.1s ease-in-out;
}

#date-from .title:hover, #date-to .title:hover {
  cursor: pointer;
  color: #D7D7D7;
  transition: color 0.1s ease-in-out;
}

#date-from .title:hover .triangle, #date-to .title:hover .triangle {
  border-bottom-color: #AF2341;
  transition: border-bottom-color 0.1s ease-in-out;
}

#date-from .title .value, #date-to .title .value {
  font-size: 16px;
  font-weight: 500;
}

#date-from .title .triangle, #date-to .title .triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #D7D7D7;
  border-bottom-color: #D7D7D7;
  vertical-align: middle;
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out, border-bottom-color 0.1s ease-in-out !important;
}

#date-from .title .triangle-0, #date-to .title .triangle-0 {
  transform: rotate(0deg) !important;
  transition: transform 0.5s ease-in-out, border-bottom-color 0.1s ease-in-out !important;
}

#date-from .title .triangle-wide, #date-to .title .triangle-wide {
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  transition: transform 0s ease-in-out, border-bottom-color 0.1s ease-in-out !important;
}

#date-from .title .triangle, #date-to .title .triangle {
  margin-left: 5px;
}

#movie-search-icon {
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  margin: 0 7px;
}

#movie-search-icon::after {
  font-family: "icomoon";
  content: "";
  font-size: 18px;
  color: #D7D7D7;
  position: absolute;
  right: 0;
  margin-left: 14px;
  transition: color 0.2s linear;
}

@media screen and (min-width: 1440px) {
  #movie-search-icon::after {
    line-height: 32px;
  }
}

@media screen and (max-width: 1440px) {
  #movie-search-icon::after {
    line-height: 30px;
  }
}

#movie-search-icon:hover {
  cursor: pointer;
}

#movie-search-icon:hover:after {
  color: #AF2341;
  cursor: pointer;
  transition: color 0.2s linear;
}

#movie-search-line {
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  background: none;
  border: 0;
  width: 100%;
  color: #D7D7D7;
}

#movie-search-line:focus {
  outline: none;
}

#movie-search-line:focus::placeholder {
  color: transparent;
}

/*# sourceMappingURL=schedule-creation.css.map */